*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;    
    background-color: rgb(238, 241, 244);
}

#main {
    height: 100vh;
    overflow: hidden;
    background: url('landscape.webp') bottom left repeat-x;
    background-size: 50vh;
}

#content {
    min-height: 50vh;
    align-content: end;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
}
a {
    color: rgb(64, 77, 95);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.1em;
}