body {
    color: #3E3E3E;
    margin: 0px;
    padding: 0px;
    font-size: 0.973em;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    line-height: 1.6em;
}

header {
    height: 3.4em;
    background-color: #1B2E42;
    background-color: #1f3f60;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header a.title {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    font-weight: bold;
    padding: 0;
    line-height: 2.3em;
}

header a.title:hover {
    text-decoration: underline;
    background-color: #1f3f60;
}


header a.center {
     line-height: 2em;
}

main {
    width: 740px;
    float: left;
    margin-left: 0;
    margin-right: -760px; 
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a:link, a:visited {
    color: #3667AB;
    text-decoration: underline;
    padding: 1px 2px;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: #3667AB;
}
nav {
    float: left;
    width: 200px;
    margin-left: 760px;
    margin-right: -960px;
    padding: 0;
}

li.active {
list-style-type: circle;
}

footer {
    height: 3.5em;
    color: #809DC4;
    background-color: #375884;
    border-top: 1px solid #33527A;
    padding: 15px 0;
}

footer div.center {
    text-align: center;
    line-height: 3.5em;
}

textarea {
    width: 500px;
    height: 100px;
}

input#email {
    width: 250px;
}

.form-element {
    padding: 5px;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 0.9em;

}

fieldset {
    margin-bottom: 20px;
    width: 520px;
}

label {
    font-weight: bold;
}
