---
navigation:
- text: Domů
  url: /
- text: Kontakt
  title: Kontaktní formulář
  url: /kontakt.html
- text: Jan Šlahora
  url: http://jan.slahora.cz
  title: Můj web, na kterém ale nic není
---

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{title}}</title>
		<style type="text/css" media="all">
			@import url("./assets/styl.css");
		</style>
	</head>
<body>
	<div id="skip-link">
		<a href="#main-menu" class="element-invisible">Jump to Navigation</a>
 	</div>

    
	<header id="site-name">
		<div class="center">
			<a href="/" title="Domů" rel="home" class="title">Šlahora.cz</a>		
		</div>
	</header>
                 
	<div class="center clearfix">
		<main>

			{{ content }}
							
		</main>

		<nav>
	
			<h2 class="block-title">Hlavní menu</h2>
		
			<ul class="menu">
				{% for link in layout.navigation %}
				<li {% if page.url == link.url %}class="active"{% endif %}>
					<a href="{{link.url}}" {% if link.title %}title="{{link.title}}"}{% endif %}>{{link.text}}</a>
				</li>
			    	{% endfor %}
			</ul>
		</nav>
	</div>

	<footer>
		<div class="center">
			Vytvořil Jan Šlahora.
		</div>
	</footer>
	<div style="background-color: #193652; height: 3em;">
		<div class="center">
			Léta páně 2012.
		</div>
	</div>

</body>
</html>



